Repository PiesP/xcom-enhanced-gallery, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @download-team-member, @media-team-member, @ui-team-member, @docs-team-member, @test-team-member, @devops-team-member

build: Add comprehensive build tools and scripts
  scripts/README-cleanup.md
  scripts/build-metrics.js
  scripts/build-tools.js
  scripts/bundle-analyzer.cjs
  scripts/cleanup-unused-files.ps1
  scripts/compare-builds.cjs
  scripts/package.js
  scripts/replace-console.cjs
  scripts/replace-console.js
  scripts/restore-unused-files.ps1
  scripts/ultra-optimizer.cjs
  scripts/validate-build.js
  scripts/validate-css-inlining.js
Owners: @docs-team-member, @your-username

feat: 제품판 v0.1.0 릴리스 준비
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  build-metrics.json
  package.json
  release/RELEASE_NOTES.md
  release/checksums.txt
  release/metadata.json
  scripts/build-metrics-new.js
  scripts/comprehensive-validation.js
  scripts/validate-build.js
  vite.config.ts
Owners: @devops-team-member, @your-username, @docs-team-member

feat: 직접 설치 가능한 dist 파일 및 워크플로우 개선
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  dist/xcom-enhanced-gallery.user.js
Owners: @devops-team-member, @your-username, @docs-team-member

docs: 직접 설치 링크를 더 명확하게 개선
  README.md
Owners: @docs-team-member

docs: GitHub 사용자명을 PiesP로 통일
  .github/workflows/release.yml
  README.md
Owners: @devops-team-member, @docs-team-member

fix: improve release workflows with better userscript-focused release notes and file handling
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
  dist/xcom-enhanced-gallery.user.js
Owners: @devops-team-member, @your-username

build: add dist file for v0.1.0 release
  dist/xcom-enhanced-gallery.user.js
Owners: @your-username

fix: format auto-release.yml to pass prettier checks
  .github/workflows/auto-release.yml
Owners: @devops-team-member

.github/CODEOWNERS:

# X.com Enhanced Gallery CODEOWNERS
# 이 파일은 PR에 자동으로 리뷰어를 지정합니다.
# 자세한 정보: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# 기본 소유자
*       @your-username

# 핵심 기능
/src/utils/download/       @download-team-member
/src/utils/media/          @media-team-member
/src/components/           @ui-team-member

# 문서
/docs/                     @docs-team-member
*.md                       @docs-team-member

# 테스트
/tests/                    @test-team-member

# 빌드 및 CI
/.github/workflows/        @devops-team-member
/vite.config.ts            @devops-team-member
/tsconfig*.json            @devops-team-member
