Repository PiesP/xcom-enhanced-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: core, download, ui, documentation, test, types, i18n, config, dependencies, x-com

.github/labeler.yml:

# 파일 경로 기반 라벨 설정
# 자세한 정보: https://github.com/actions/labeler

# 코어 구성요소
core:
  - src/utils/**/*
  - src/core/**/*

# 다운로드 관련
download:
  - src/utils/download/**/*
  - src/downloaders/**/*

# UI 관련
ui:
  - src/components/**/*
  - src/viewers/**/*
  - src/styles/**/*

# 문서
documentation:
  - docs/**/*
  - '**/*.md'
  - '.github/*.md'

# 테스트
test:
  - tests/**/*
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'

# 타입 정의
types:
  - src/types/**/*
  - '**/*.d.ts'

# 국제화
i18n:
  - src/i18n/**/*
  - src/**/i18n/**/*

# 구성 파일
config:
  - '*.config.js'
  - '*.config.ts'
  - '*.json'
  - '.github/workflows/**/*'
  - '.vscode/**/*'

# 의존성
dependencies:
  - package.json
  - package-lock.json
  - 'yarn.lock'

# X.com 관련 코드
x-com:
  - src/**/twitter*
  - src/**/x-com*
  - src/**/*twitter*
  - src/**/*x-com*

build: Add comprehensive build tools and scripts
  scripts/README-cleanup.md
  scripts/build-metrics.js
  scripts/build-tools.js
  scripts/bundle-analyzer.cjs
  scripts/cleanup-unused-files.ps1
  scripts/compare-builds.cjs
  scripts/package.js
  scripts/replace-console.cjs
  scripts/replace-console.js
  scripts/restore-unused-files.ps1
  scripts/ultra-optimizer.cjs
  scripts/validate-build.js
  scripts/validate-css-inlining.js
Labels: documentation

feat: 제품판 v0.1.0 릴리스 준비
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  build-metrics.json
  package.json
  release/RELEASE_NOTES.md
  release/checksums.txt
  release/metadata.json
  scripts/build-metrics-new.js
  scripts/comprehensive-validation.js
  scripts/validate-build.js
  vite.config.ts
Labels: documentation, config, dependencies

feat: 직접 설치 가능한 dist 파일 및 워크플로우 개선
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  dist/xcom-enhanced-gallery.user.js
Labels: documentation, config

docs: 직접 설치 링크를 더 명확하게 개선
  README.md
Labels: documentation

docs: GitHub 사용자명을 PiesP로 통일
  .github/workflows/release.yml
  README.md
Labels: documentation, config

fix: improve release workflows with better userscript-focused release notes and file handling
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
  dist/xcom-enhanced-gallery.user.js
Labels: config

build: add dist file for v0.1.0 release
  dist/xcom-enhanced-gallery.user.js
Labels: none

fix: format auto-release.yml to pass prettier checks
  .github/workflows/auto-release.yml
Labels: config
